extends layout

block content
  h1= title
    h2 Description
    p
      | Dans le cadre du cours:
      strong Paradigmes des échanges Internet (INF 4375)
      |  pour
      strong  le programme de baccalauréat en informatique et génie logiciel
      |  de l'UQÀM
    p
      | On a reçu le mandat de concevoir un projet qui sert à offrir des services web à partir de données extraites d'un site officiel de la ville de Montréal
    h2#auteure Auteure
    ul
      li Sarah Abdelaoui (ABDS14578607)
    h2#plateformessupportes Plateformes supportées
    p
      | Cette application a été créée et téstée sous la plateforme
      strong macOS
    h2#installation Installation
    p
      | Le framework utilisé est
      strong Express
      |  pour
      strong  Node.js
      | , ce dernier sert à simplifier l'utilisation d'HTTP (requêtes et réponses) ainsi que le routing d'URL en fournissant une structure de projet
    p
      | Pour éxécuter l'application (à partir de la fonctionnalité A3), il faut d'abord installer
      strong Express
      |  (les fonctionnalités A1 et A2 ne sont pas concernées par
      strong Express
      | )
    p
      | L'installation de
      strong Express
      |  se fait avec
      strong npm
      |  à l'aide de la commande: "npm install express"
    pre.
    p
      | Toutefois si l'on voudrait générer un squelette de projet
      strong Express.js
      | , un logiciel pourrait être installé à l'aide de la commande:
    pre.
    h2#compilationetdmaragedelapplication Compilation et démarage de l'application
    p
      | Pour partir le projet, il faut taper la commande
      code npm install
      |  d'abord afin d'installer toutes les dépendances sur lesquelles le projet est basé, celles-ci sont contenues dans le fichier
      strong package.json
      | , ensuite taper la commande
      code npm start
      |  pour partir l'application.
      | La route principale est:
      code http://localhost:3000/
      | , celle-ci va afficher la page d'accueil.
    p
      | Les routes résponsables des fonctionnalités demandées sont expliquées en détail dans le fichier correction.md
    h2#fonctionnalitsdemandesetralises Fonctionnalités demandées et réalisées
    ul
      li
        | A1: Permet l'extraction de données de la ville de Montréal sur les actes criminels sur le territoire de la ville et permet aussi la construction d'une base de données MongoDB avec ces données. Le script obtient les données à l’aide d’une requête HTTP
    p
      | La liste des actes criminels en CSV :
      | http://donnees.ville.montreal.qc.ca/dataset/5829b5b0-ea6f-476f-be94-bc2b8797769a/resource/c6f482bf-bf0f-4960-8b2f-9982c211addd/download/interventionscitoyendo.csv
    ul
      li
        p
          | A2: Permet l'extraction du code d’importation de données du point A1 dans un module réutilisable, ça permet aussi le lancement d'une cron job afin d’importer automatiquement les données chaque jour à 13h30.
      li
        p
          | A3: Permet la création d'une application Express.js, l'implémentation de la route
          code /doc
          |  résponsable de la documentation des services web du projet
      li
        p
          | A4: Un service REST est offert permettant l'obtention d'une liste contenant les actes criminels pour une date donnée et specifiée en paramètres dans l'url, la route résponsable de cette requette est
          code /actes
          |  suivi du query
          code date
          |  et la valeur du query qui est la date en question en format
          code ISO 8601
      li
        p
          | A5: Un service REST est offert permettant l'obtention de toutes les statistiques mensuelles sur les actes criminels survenus, le retour de ce service est en format
          code json
      li
        p
          | A6: Permet l'obtention d'une liste de statistiques identiquement qu'en A5, le retour de ce service est en format
          code xml
          | À completer
      li
        p
          | B1: Permet l'obtention de toutes les statistiques mensuelles sur les actes criminels survenus, en retournant du
          code HTML
          | . le service est invoqué par une requête Ajax.
      li
        p
          | B2: Affiche un bar chart illustrant l’évolution des différents types d’actes criminels pour les 4 derniers mois présents dans les données. La gestion du graphique est faite à l'aide d'une librairie en
          code javascript
          | :
          code CanvasJS.Chart
          |  voir les références plus bas pour plus de détails.
      li
        p
          | C1: un service web retournant la liste des actes criminels ayant eu lieu les 3
          | derniers mois situés à moins de 3 km d’un point donné en paramètre. la distance est calculée selon la formule de haversine
      li
        p
          | E1: Permet des services web qui gèrent des déclarations citoyennes d’événements louches.
          | Les services web permettent :
        p
        ul
          li La création d'un évennement(methode POST)
          p
          p
          li La modification d'un évennement déjà existant (methode PATCH avec id)
          p
          p
          li La suppression d'un évennement déjà existant (methode DELETE avec id)
          p
          p
          li La consultation d'un évennement déclaré (methode GET avec id)
          p
          p
          li La consultation de la liste complète des déclarations (methode GET)
        p
    p
    h2#basededonnes Base de données
    p
      | La base de données utilisée:
      code  MongoDB
    p
      | La création de la base de données se fait automatiquement aprés l'execution du script: 
      code  A1.js
    h2#technologiesutilises Technologies utilisées
    ul
      li Node.js 8.11
      li Express.js 4
      li Pug
      li MongoDB 3.6
      li HTML5
      li REST
      li RAML
      li CSS3
      li Bootstrap
      li Markdown
      li Ajax
      li JavaScript
      li XML
      li JSON
    h2#dpendancesutilisesetleursversions Dépendances utilisées et leurs versions:
    ul
      li "bootstrap": "3.3.7",
      li "calendar-date-regex": "1.0.2",
      li "cookie-parser": "1.4.3",
      li "debug": "2.6.9",
      li "express": "4.16.0",
      li "express-protobuf": "1.0.1",
      li "haversine": "1.1.0",
      li "http-errors": "1.6.2",
      li "jsonschema": "1.2.4",
      li "key-value-replace": "1.0.4",
      li "mongodb": "3.0.10",
      li "morgan": "1.9.0",
      li "nodemon": "1.18.3",
      li "nunjucks": "3.1.3",
      li "pug": "2.0.0-beta11",
      li "querystring": "0.2.0",
      li "raml2html": "3.0.1",
      li "rename-keys": "2.0.1",
      li "request": "2.87.0",
      li "snakecase-keys-object": "1.0.1"
    h2#contenuduprojet Contenu du projet
    p À la racine du projet se trouve:
    ul
      li Un dossier Express
      li Un fichier database.js
      li Un fichier A1.js
      li Un fichier A2.js
      li Un fichier README.md
      li Un fichier correction.md
    h2#rfrences Références
    ul
      li https://github.com/jacquesberger/exemplesINF4375
      li https://www.npmjs.com/
      li https://canvasjs.com/javascript-charts/multiple-axis-column-chart/
      li https://www.mongodb.com/
      li https://nodejs.org/en/
