doctype xml
statistiques
  each statistique in data
    statistique_mensuelle
      mois #{statistique.mois}
      actes
        each acte in statistique.actes
          acte
            type #{acte.type}
            nombre #{acte.nombre}
