body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}

.div-table{
  matgin-top:15 cm;
  float: left;
  width: 12cm;
}

#graphique{
  float: right;
  width: 19cm;
}

.container {
    overflow:auto;
}

.center{
  text-align: center;
}
